@property --any-inherited {
	syntax: "*";
	inherits: true;
	initial-value: 0;
}

@property --any-non-inherited {
	syntax: "*";
	inherits: false;
	initial-value: 0;
}

@property --color {
	syntax: "<color>";
	inherits: true;
	initial-value: rgb(0, 0, 0, 0);
}
