<div class="social">
<h1><img src="logo.svg" class="logo"> Style <span>Observer</span></h1>
<p class="blurb">
A robust, production-ready library to observe CSS property changes.<br>

</production-ready>
<p class="caption">
	<span>Any element.</span>
	<span>Any property.</span>
	<span>Any browser.</span>
</p>
</div>
