@import url("prism.css");

:root {
	--max-page-width: min(120ch, 100%);
	--body-padding: 1em;
}

body {
	display: grid;
	grid-template-areas:
		"header header header header"
		". main aside ."
		"footer footer footer footer";
	grid-template-columns: var(--body-padding) minmax(0, 1fr) auto var(--body-padding);
	grid-template-rows: auto 1fr auto;

	@media (width <= 625px) {
		grid-template-areas:
			"header"
			"aside"
			"main"
			"footer";
		grid-template-columns: minmax(0, 1fr);
		grid-template-rows: auto 1fr auto auto;
	}
}

header, main, footer {
	padding-inline: clamp(1em, var(--max-page-width) / 2 - 40ch, 50vw);
}

main {
	grid-area: main;
	max-width: min(80ch, 100%);
	padding: var(--wa-space-xl);
	margin-inline: auto;
}

wa-badge.browser {
	font-size: var(--wa-font-size-m);
}

header {
	grid-area: header;
	border-bottom: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);

	h1 {
		font-size: var(--wa-font-size-l);
		line-height: 1;
	}

	nav {
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
			color: var(--wa-color-text-normal);
			font-weight: var(--wa-font-weight-bold);
			color: var(--wa-color-on-quiet);
		}

		a:has(~ wa-divider) {
			font-size: var(--wa-font-size-m);

		}

		a:is(wa-divider ~ *) {
			font-size: var(--wa-font-size-xl);
		}

		wa-divider {
			/* The default height: 100% doesn't work because nav has display: flex, and its children are center-aligned */
			block-size: 1lh;
		}
	}
}

wa-icon {
	vertical-align: -.1em;

	&[name="chrome"] {
		color: var(--wa-color-green);
	}

	&[name="firefox"] {
		color: color-mix(in oklch, var(--wa-color-red) 30%, var(--wa-color-yellow));
	}

	&[name="safari"] {
		color: var(--wa-color-blue);
	}
}

nav {
	a:not(:hover) > wa-icon {
		color: var(--wa-color-on-quiet);
	}
}

aside {
	grid-area: aside;
	border-left: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);

	ul {
		margin-block: var(--wa-space-l) 0;
		position: sticky;
		top: 0;
		list-style: none;
		line-height: var(--wa-line-height-expanded);
	}

	@media (width <= 625px) {
		border-left: none;

		ul {
			position: static;
		}
	}
}

.readme-only {
	display: none;
}

main {
	ul:first-of-type {
		list-style: "✅ ";
		padding-inline-start: 0;

		span {
			display: none;
		}
	}

	p:has(+ p > .compat) {
		margin-block-end: var(--wa-space-s);
	}

	.compat {
		wa-icon {
			vertical-align: -.1em;
		}
	}
}

footer {
	grid-area: footer;
	border-top: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);
}

.scrollable,
pre:has(code) {
	max-width: 100%;
	overflow-x: auto;
}

