<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Style Observer</title>
	<link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/styles/themes/default.css" />
	<link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/styles/webawesome.css" />
	<link rel="stylesheet" href="assets/style.css" />
	<script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/webawesome.loader.js" data-fa-kit-code="5956551eb3"></script>
	<script type="module" src="assets/prism.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/baseline-status@1/baseline-status.min.js" type="module"></script>
</head>
<body>
	<wa-page>
		{{ content | safe }}
	</wa-page>
</body>
</html>
