<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Style Observer</title>
	<link rel="shortcut icon" href="/assets/logo.svg">
	<link rel="stylesheet" href="/assets/style.css" />
	<script type="module" src="/assets/prism.js"></script>
</head>
<body>
	{{ content | safe }}
</body>
</html>
